#bg-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('https://png.pngtree.com/background/20210714/original/pngtree-abstract-technology-bacground-picture-image_1243047.jpg'); /* Замените на путь к вашему изображению */
    background-size: cover;
    background-position: center;
}

#bg-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
